@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;500;600;700;800;900&display=swap");

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-bck: grey;
$border: 1px solid black;
$shadow: 0 0.8rem 1rem lighten($color-bck, 40%);
$shadowHover : 0 0.2rem 0.3rem $color-bck;

@mixin border {
  border: $border;
}

@mixin title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 3rem 2rem 2rem 2rem;
}

@mixin btn {
  border-radius: 2rem;
  border: none;
  background: linear-gradient(170deg, $color-secondary, $color-primary);
  box-shadow: 0 0.8rem 1rem lighten($color-bck, 30%);
  color: white;
  font: 1rem "Roboto";
  cursor: pointer;
  &:hover {
    box-shadow: $shadowHover;
    transition: 0.5s;
  }
  &:focus {
    outline: none;
  }
}

img {
  display: inline;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", "sans serif";
  margin: 0;
  padding: 0;
}



header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  .title__arrow a {
    font-size: 1.5rem;
    color: black;
    top: 1.1rem;
    margin-left: 2rem;
    position: absolute;
  }
  .title {
    margin: auto;
    font-family: "Shrikhand", "Sans serif";
    font-weight: 300;
  }
}

.location {
  box-shadow: inset 0 0.2rem 0.2rem lighten($color-bck, 35%);
  display: flex;
  justify-content: center;
  background-color: lighten($color-bck, 42%);
  width: 100%;
  height: 3.3rem;
  &__icon {
    padding: 1rem 1rem 0 0;
  }
  &__title {
    padding-top: 1rem;
    font-weight: 500;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color: lighten($color-bck, 46%);
  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
  }
  &__subtitle {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin: 1rem 0 2rem 0;
  }
}

.btn__primary {
  @include btn;
  padding: 1rem 1.7rem 1rem 1.7rem;
}

.aside__title {
  @include title;
}

.howTo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 1rem 2rem 1rem 2rem;
}

.howTo__btn {
  padding: 1.5rem 0 1.5rem 2rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 1.5rem;
  box-shadow: $shadow;
  background-color: lighten($color-bck, 46%);
  font-size: 1.3rem;
  cursor: pointer;
  &:hover {
    background-color: lighten($color-primary, 35%);
    transition: 0.8s;
    box-shadow: $shadowHover;
    .howTo__icon {
      color: $color-primary;
    }
  }
}

.howTo__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 2.3rem;
  height: 2rem;
  border-radius: 50%;
  background-color: $color-primary;
  color: white;
  margin-right: -1rem;
}
.howTo__icon {
  padding-right: 1rem;
  color: rgb(116, 116, 116);
}
.howTo__text {
  font-weight: 500;
}

#beside {
  display: flex;
  flex-direction: column;
  width: auto;
  .beside__title {
    @include title;
  }
}

.thumbnail {
  display: inline-block;
  position: relative;
  width: auto;
  height: 18rem;
  margin: 0 2rem 2rem 2rem;
  border-radius: 1.25rem;
  box-shadow: $shadow;
  cursor: pointer;
  &:hover {
    box-shadow: $shadowHover;
    transition: 0.5s;
  }
  &__view {
    border-radius: 1.25rem 1.25rem 0 0;
    object-fit: cover;
    width: 100%;
    height: 13rem;
  }
  &__link {
    color: black;
  }
  
}

.thumbnail__new {
  box-shadow: $shadow;
  position: absolute;
  z-index: 1;
  width: 7rem;
  height: 1.8rem;
  padding-top: 0.5rem;
  right: 0;
  top: 0;
  margin: 1rem 1rem 0 0;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  color: darken($color-tertiary, 35%);
  background-color: lighten($color-tertiary, 5%);
}

.thumbnail__legend {
  display: flex;
  justify-content: space-between;
  height: 4.7rem;
}

.thumbnail__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.thumbnail__title {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0;
}

.thumbnail__subtitle {
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
}

.thumbnail__icon {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: white;
  text-shadow: 0px 0px 3px black;
  &:hover {
    color: $color-primary;
    transition: 0.8s;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: darken($color-bck, 30%);
  padding: 1rem 0 2rem 1rem;
}

.footer__link {
  color: white;
}

.footer__title {
  margin-left: 1rem;
  font-family: "Shrikhand", "Sans serif";
  font-weight: 400;
}

.li {
  display: flex;
  margin-left: 1rem;
  color: white;
  &__icon {
    width: 1rem;
  }
  &__choice {
    margin-left: 1rem;
    margin-bottom: .5rem;
  }
}

/* Mise en forme PAGES */

.image__title {
  width: auto;
  height: 20rem;
}

.image__resto {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 20rem;
}

.menu__main {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: lighten($color-bck, 46%);
  margin-top: -3rem;
}

.menu__title {
  display: flex;
  justify-content: space-around;
  .menu__resto {
    font-family: "Shrikhand", "Sans serif";
    font-size: 2rem;
  }
  .menu__icon {
    font-size: 2rem;
  }
}


.main {
  animation: course 2s forwards;
}

@keyframes course {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
  }
}

.main__course {
  text-transform: uppercase;
  margin: 2rem 1rem 0rem 1rem;
  padding-bottom: 0.2rem;
  font-size: 1.2rem;
  
}

.main__trait {
  @include border;
  width: 3rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  background-color: $color-tertiary;
  border: 0.1rem solid $color-tertiary;
}

.main__btn {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0 1rem 1.3rem 1rem;
  border-radius: 1rem;
  box-shadow: $shadow;
  cursor: pointer;
  &:hover {
    box-shadow: $shadowHover;
    transition: 0.5s;
  }
}

.main__title {
  margin: 0;
  padding: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.main__info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
  .main__subtitle {
    padding-left: 0.5rem;
    margin: 0;
  }
  .main__price {
    margin: 0;
    padding-right: 1.5rem;
    font-weight: 600;
  }
}

.btn__order {
  display: flex;
  justify-content: center;
  .btn__secondary {
    @include btn;
    padding: 1rem 3rem 1rem 3rem;
    margin: 3rem 0 3rem 0;
  }
}

/* HEART */
.thumbnail__heart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.heart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.heart__full .fa-heart {
  background: linear-gradient(170deg, $color-secondary, $color-primary);
  -webkit-background-clip: text;
  color: transparent;
  
}

.thumbnail__heart-empty {
  background-color: white;
  color: gray;
  position: absolute;
  cursor: pointer;
  &:hover {
    background-color: transparent;
    color: transparent;
    transition: 1.5s;
  } 
}

.heart__empty {
  background-color: lighten($color-bck, 46%);
  color: gray;
  position: absolute;
  cursor: pointer;
  &:hover {
    background-color: transparent;
    color: transparent;
    transition: 1.5s;
  } 
}

.loader {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  animation: loading 4s forwards;
  pointer-events: none;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.letter {
  color: black;
  font-size: 2rem;
  font-family: "Shrikhand", "Sans serif";
  animation: flash 2s linear infinite;
}

@keyframes flash {
  0% {
    color: $color-primary;
    text-shadow: 0 0 .1rem $color-primary;
  }

  50% {
    color: $color-secondary;
    text-shadow: 0 0 .1rem $color-secondary;
  }
  90% {
    color: black;
    text-shadow: none;
  }
  100% {
    color: $color-primary;
    text-shadow: 0 0 .5rem $color-primary;
  }
}

.letter:nth-child(1) {
  animation-delay: 0.1s;
}
.letter:nth-child(2) {
  animation-delay: 0.2s;
}
.letter:nth-child(3) {
  animation-delay: 0.3s;
}
.letter:nth-child(4) {
  animation-delay: 0.4s;
}
.letter:nth-child(5) {
  animation-delay: 0.5s;
}
.letter:nth-child(6) {
  animation-delay: 0.6s;
}
.letter:nth-child(7) {
  animation-delay: 0.7s;
}
.letter:nth-child(8) {
  animation-delay: 0.8s;
}

.loader__end {
  opacity : 0;
  transition: opacity 0.4s ease-out;
}


/* TEST */

.menu {
  margin: 2rem 0 0 0;
}


.menu {
  h4 {
    margin-left: 2rem;
      font-weight: 200;
      &::after {
          display: block;
          content: "";
          height: 0.2rem;
          width: 2.5rem;
          background: #99e2d0;
      }
  }
.menu-card {
  // max-width: 20rem;
      cursor: pointer;
      background-color: white;
      position: relative;
      border-radius: 12px;
      box-shadow: 2px 3px 10px rgba(0,0,0,0.1);
      margin: 2rem;
      display: flex;
  &:hover .check {
    width: 25%;
    > .fa-check-circle {
      opacity: 1;
      animation: rotation 0.4s linear;
    }
  }
}
  .choice {
      width: 100%;
      padding: 0 10px;
      display: grid;
      grid-template-rows: 30px;
      grid-template-columns: auto auto;
      grid-template-areas: 
      "text1 ."
      "text2 price";
      p {
          display: block;
          &:nth-child(1) {
              grid-area: text1;
              font-weight: 700;
          }
          &:nth-child(2) {
              grid-area: text2;
              font-weight: 200;
          }
          &:nth-child(3) {
              grid-area: price;
              font-weight: 500;
              display: flex;
              justify-content: flex-end;
          }
      }
  }
}
// check 
.check {
  transition: width 0.4s linear;
  width: 0;
  right: 0;
  background-color: $color-tertiary;
  color: white;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
  justify-content: center;
  transform-origin: right center;
  display: flex;
  justify-content: center;
  align-items: center;
  .fa-check-circle {
    overflow: hidden;
    font-size: 1.5rem;
     //opacity: 0;
    //z-index: 1;
    //width: 0;
  }
}


@keyframes rotation {
  from {
      z-index:1;
      transform: rotate(0);
  } 50% {
      transform: rotate(180deg);
  } to {
    z-index:1;
      transform: rotate(360deg);
  }
}

