.btn__primary {
  @include btn;
  padding: 1rem 1.7rem 1rem 1.7rem;
}

.btn__secondary {
  display: flex;
  justify-content: center;
  @include btn;
  padding: 1rem 3rem 1rem 3rem;
  width: 4rem;
  margin: 3rem auto 3rem auto;
}