.thumbnail__heart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .heart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
  }
  
  .heart__full .fa-heart {
    background: linear-gradient(170deg, $color-secondary, $color-primary);
    -webkit-background-clip: text;
    color: transparent;
    
  }
  
  .thumbnail__heart-empty {
    background-color: white;
    color: gray;
    position: absolute;
    cursor: pointer;
    &:hover {
      background-color: transparent;
      color: transparent;
      transition: 1.5s;
    } 
  }
  
  .heart__empty {
    background-color: lighten($color-bck, 46%);
    color: gray;
    position: absolute;
    cursor: pointer;
    &:hover {
      background-color: transparent;
      color: transparent;
      transition: 1.5s;
    } 
  }