.menu__main {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: lighten($color-bck, 46%);
  margin-top: -3rem;
}
.menu__title {
  display: flex;
  align-items: center;
  height: 3rem;
  justify-content: space-between;
  margin: 2rem 2rem 0 1.5rem;
  .menu__resto {
    font-family: "Shrikhand", "Sans serif";
    font-size: 1.7rem;
  }
}
  
.menu-card {
  animation: course 1.5s forwards;
}
  
@keyframes course {
  from {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
  
.menu {
  h4 {
    margin: 2.5rem 1.5rem -0.3rem 1.5rem;
    font-size: 1.1rem;
      font-weight: 300;
      text-transform: uppercase;
      &::after {
          display: block;
          content: "";
          height: 0.2rem;
          width: 2.5rem;
          margin-top: 0.3rem;
          background: #99e2d0;
        }
      }
    .menu-card {
      cursor: pointer;
      background-color: white;
      position: relative;
      border-radius: 12px;
      box-shadow: $shadow;
      margin: 1.2rem;
      display: flex;
        &:hover .check {
          width: 25%;
          > .fa-check-circle {
          opacity: 1;
          animation: rotation 0.4s linear;
        }
      }
    }
  .choice {
    width: 100%;
    padding: 0 0.8rem;
    display: grid;
    grid-template-rows: 1.7rem;
    grid-template-columns: auto auto;
    grid-template-areas: "dish ." "side price";
    p {
      display: block;
      &:nth-child(1) {
        max-width: 10rem;
        grid-area: dish;
        font-weight: 700;
        font-size: 1rem;
        white-space: nowrap;
        }
      &:nth-child(2) {
        max-width: 20rem;
        grid-area: side;
        font-weight: 200;
        font-size: 0.9rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:nth-child(3) {
        grid-area: price;
        font-weight: 500;
        font-size: 0.9rem;
        padding-left: 1rem;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
  
@media screen and (min-width: 768px) {
  .menu__title {
    justify-content: center;
  }
  .menu__resto {
    margin-right: 10rem;
  }
  .menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .menu-card {
    min-width: 25rem;
  }
}
  
.check {
  transition: width 0.4s linear;
  width: 0;
  right: 0;
  background-color: $color-tertiary;
  color: white;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
  justify-content: center;
  transform-origin: right center;
  display: flex;
  justify-content: center;
  align-items: center;
  .fa-check-circle {
    overflow: hidden;
    font-size: 1.5rem;
  }
}
  
@keyframes rotation {
  from {
      z-index:1;
      transform: rotate(0);
  } 50% {
      transform: rotate(180deg);
  } to {
    z-index:1;
      transform: rotate(360deg);
  }
}
  