header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.8rem;
    .title__arrow a {
      font-size: 1.4rem;
      color: black;
      top: 1.1rem;
      margin-left: 1.5rem;
      position: absolute;
    }
    .title {
      font-size: 1.8em;
      margin: auto;
      font-family: "Shrikhand", "Sans serif";
      font-weight: 300;
    }
  }