.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color: lighten($color-bck, 46%);
  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
  }
  &__subtitle {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin: 1rem 0 2rem 0;
  }
}
 
.howTo__title {
  @include title;
}
  
.howTo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 1rem 1.5rem 1.5rem 1.5rem;
}
  
.howTo__btn {
  padding: 1.5rem 0 1.5rem 2rem;
  width: 100%;
  border-radius: 1.5rem;
  box-shadow: $shadow;
  background-color: lighten($color-bck, 46%);
  cursor: pointer;
  &:hover {
    background-color: lighten($color-primary, 35%);
    transition: 0.8s;
    box-shadow: $shadowHover;
    .howTo__icon {
      color: $color-primary;
    }
  }
}
  
.howTo__icon {
  font-size: 1.2rem;
  padding-right: 1rem;
  color: $color-bck;
}
.howTo__text {
  font-weight: 500;
  font-size: 1rem;
}

.howTo__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 0.9rem;
  width: 2rem;
  height: 1.7rem;
  border-radius: 50%;
  background-color: $color-primary;
  color: white;
  margin-right: -1rem;
}
  
@media screen and (min-width: 768px) {
  .howTo__title {
    display: flex;
    justify-content: center;
  }
  .howTo__bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .howTo {
    min-width: 20rem;
  }
}