.location {
  box-shadow: inset 0 0.2rem 0.2rem lighten($color-bck, 35%);
  display: flex;
  justify-content: center;
  background-color: lighten($color-bck, 42%);
  width: 100%;
  height: 3.3rem;
  &__icon {
    padding: 1rem 1rem 0 0;
  }
  &__title {
    padding-top: 1rem;
    font-weight: 500;
  }
}